@model IEnumerable<Contentful.Core.Models.Asset>
@{
    ViewData["Title"] = "Code snippets";
}
<h3>@ViewData["Code snippets from my DevOps project"]</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            
                <td>
                    <img src="@Html.DisplayFor(modelItem => item.File.Url)" />
                </td>
            <td>
               @* @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
            </td>
        </tr>
}
    </tbody>
</table>
